

  .timer-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 100vw;
    height: 30vh;
  }

  .timer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 2em;
    width: 100%;
    height: 100%;


  }

  .headingintheclouds{
    display: flex;
    padding-left: 860px;
    padding-top: 75px;
   

  }
  .timer div:first-child {
    text-align: center;
  }

  .timer-icon {
    font-size: 8em;
    padding-right: 200px;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 0.5em;
    padding-right: 200px;
  }

  .timer div:first-child p {
    color: #e9eef1;
  }

  .timer div:last-child {
    border: 1px solid rgb(255, 245, 245);
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;

  }

  section p:first-child, .timer div:last-child span {
    font-size: 3em;
  }

  @media screen and (max-width: 480px) {
    .timer div:last-child {
      margin-left: 2em;
      margin-right: 2em;
      padding: 3em 1em;
    }
  }